body {
    padding: 20px;
}

.audio-player {
    .playable-tracks {}
    .currently-playing {}
    .global-controls {}
}

.track {
    border: 1px solid black;
    display: block;
    padding: 10px;
    font-size:1.25em;
    transition: all .3s;
    margin-bottom: 2px;
    position: relative;
}

.global-controls {
    font-size: 2.5em;
}

.playing {
    background-color: #bdbdbd;
}

.glyphicon {
    cursor: pointer;
}

.glyphicon-plus {
    float: right;
}

.album-art {
    img {
        max-width: 300px;
        width: 100%;
    }
}

.audio-progress {
    width:100%;
}

.queue-container {
    list-style-type: none;
    padding: 0;
    transition: all .3s;
    .queue-control {
        border: 1px solid black;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        background-color: #ffffff;
        margin: 0;
        display: inline-block;
    }
    .queue-item {
        transition: all .3s;
        padding: 5px;
        border: 1px solid #000000;
        margin: 2px 0;
        display: block;
    }
    .queue-track {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
    }
}
